.MovieList {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 24px; */
}
